[submodule "old/calendar"]
	path = old/calendar
	url = https://github.com/deficient/calendar.git
[submodule "old/blingbling"]
	path = old/blingbling
	url = https://github.com/cedlemo/blingbling
[submodule "vicious"]
	path = vicious
	url = https://github.com/vicious-widgets/vicious.git
[submodule "cyclefocus"]
	path = cyclefocus
	url = https://github.com/mireq/awesome-cyclefocus.git
[submodule "awesome-udisks2-mount"]
	path = awesome-udisks2-mount
	url = https://github.com/mireq/awesome-udisks2-mount.git
[submodule "software-cursor"]
	path = software-cursor
	url = https://github.com/mireq/software-cursor
